body{
    background-color: #F6F1E9;
    text-align: center;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 30%;
}
p{
    text-align: left;
    margin-left: 30%;
}
.title-image{
    width: 90%;
}
.best{
    color: blue;
}
.title{
    padding: 10% 5%;
}
.btn{
    margin-left: -25%; 
}

.nav-link{
    color: blue;
}
.navbar-brand{
    color: blue;
    font-size: 2.5rem;
}
